@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-5,100..900&family=League+Spartan:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "League Spartan", sans-serif;
}
::-webkit-scrollbar{
    width: 0;
    overflow: hidden;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #2e2e2e;
    background-color: bisque;
}
#container{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 10%;
    padding: 2rem 0;
    background-color: #f5f5dc;
}
.head-screen{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
}
.head-screen img{
    width: 2.5rem;
}
.head-screen h2{
    font-size: 0.8rem;
}
.head-screen .sidebarOpen{
    width: 1.5rem;
    color: #008080;
    cursor: pointer;
}
.sidebar{
    background-color: #008080;
    position: absolute;
    top: 1.5rem;
    left: 38.5rem;
    height: 60%;
    width: 200px;
    padding: 3rem auto;
    border-radius: 15px;
    z-index: 90;
    transform: translate(-100%);
    transition: all 10s ease-out;
}
.show-sidebar{
    transform: translate(0%) !important;
}
.sidebar-header{
    display: flex;
    justify-content: space-between;
    margin: 0.5rem;
    width: 100%;
}
.sidebar img{
    width: 4rem;
}
.sidebar p{
    font-size: 1rem;
    color: #fff;
}
.sidebar-header .sidebarClose svg{
   margin-right: 1rem;
   color: #fff;
}
.main-content{
    position: absolute;
    height: 100%;
    width: 100%;
}
.menu-title{
    font-size: 1.2rem;
    padding: 2rem 1rem;
    line-height: 2.5rem;
}
.menu-title li a{
    color: #fff;
}
.menu-title .item a:hover,
.menu-title .item a.active {
    background-color: #fff;
    color: #008080;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 0.5rem;
    transition: all 0.3s ease;
}
#container.active .sidebar{
    display: block;
    left: 38.5rem;
    transition: all .10s ease-out;
}
.search-btn{
    position: relative;
    top: 0;
    left: 0;
    border: 1px solid #008080;
    border-radius: 0.5rem;
    height: 38px;
    width: 16rem;
    display: flex;
    align-items: center;
    margin: 1.5rem auto;
    cursor: pointer;

}
.search-btn input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2.2rem;
    padding: 0.6rem auto;
    border: 1px solid #008080;
    border: none;
    border-radius: 10px;
    font-size: 0.8rem;
    font-weight: 400;
    color: #008080;
    outline: none;
}
.search-btn ::placeholder{
    font-size: 0.8rem;
    text-align: left;
    padding-left: 0.2rem;
}
.search-btn svg{
    position: absolute;
    top: 0;
    left: 12rem;
    width: 1.5rem;
    height: 2.2rem;
    color: rgb(177, 168, 168);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
}
.notification{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.notification svg{
    width: 1.5rem;
    margin-right: 2rem;
}

.news-wrapper{
    display: flex;
    flex-direction: column;
}
.news-wrapper h1{
    font-size: 1rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
}
.newsline{
    height: 9rem;
    width: 20rem;
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;
    background-color: #bb7333;
    border-radius: 5px;
    position: relative;
}
.news-content{
    display: flex;
    flex-direction: column;
    color: #fff;
    gap: 0.5rem;
    margin: 0.5rem 0.8rem;
}
.news-content h2{
    width: 25ch;
    font-size: 1rem;
    color: red;
    line-height: 1.5rem;
}
.news-content p{
    width: 30ch;
    font-size: 0.8rem;
    line-height: 0.8rem;
    color: #008080;
}
.dot{
    font-size: 1.2rem;
}
.moretext{
    display: none;
}
#readmore{
    width: 5rem;
    padding: 0.3rem;
    background-color: #008080;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 0.7rem;
    text-align: center;
}
.newsline img{
    position: absolute;
    top: 0;
    left: 65%;
    width: 8rem;
    border-radius: 50%;
}
.categories{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.categories h1{
    font-size: 1rem;
    margin: auto 1rem; 
}

.categories .category{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    margin: 0.3rem auto;
}
.category .category-item img,
.category-item2 img,
.category-item3 img,
.category-item4 img{
    width: 10rem;
    height: 7.5rem;
    border-radius: 20px;
}
.category-item h1,
.category-item2 h1,
.category-item3 h1,
.category-item4 h1{
    font-size: 1.2rem;
}
.category-item .header1{
    position: absolute;
    top: 3rem;
    left: 0;
    color: #fff;
}
.category-item2 .header2{
    position: absolute;
    top: 3rem;
    left: 12rem;
    color: #fff;
}
.category-item3 .header3{
    position: absolute;
    bottom: 3rem;
    left: 3rem;
    color: #fff;
}
.category-item4 .header4{
    position: absolute;
    bottom: 3rem;
    left: 12rem;
    color: #fff;
}
footer{
    position: absolute;
    bottom: 3%;
    left: 0;
    width: 100%;
    height: 50px;

}
.footer-icons{
    background-color: #355151;
    border-radius:  0 0 10px 10px;
    padding: 0.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.8rem;
    margin: 4rem auto;
}

@media only screen and (min-width: 360px){
    #container{
        height: 44rem;
        width: 24rem;
        border-radius: 15px;
        border: 5px solid hsl(0, 0, 18%);
    }
    .head-screen{
        display: flex;
    }
    .head-screen img{
        display: 2rem;
    }
    .sidebar img{
        width: 3rem;
    }
    
    .sidebar{
        top: 3.5rem;
        left: 0rem;
        padding: 0.5rem;
    }
    .show-sidebar{
        transform: translate(0%) !important;
    }
    
    .footer {
        margin-top: 5rem;
    }
}


