@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-5,100..900&family=League+Spartan:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
}
.page{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #2e2e2e;
    background-color: bisque;
}
.container{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: #f5f5dc;
}
.container img{
    margin-left: 8rem;
    margin-top: 1rem;
}
.switch{
    position: relative;
    border: 1px solid #008080;
    border-radius: 0.5rem;
    height: 42px;
    width: 22rem;
    display: flex;
    align-items: center;
    margin: 2rem auto;
    cursor: pointer;
    overflow: hidden;
}
.switch a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    width: 50%;
    z-index: 10;
}
.switch #sign-up{
    color: #fff;
}

#btn{
    position: absolute;
    bottom: 0;
    left: 11rem;
    width: 11rem;
    height: 42px;
    cursor: pointer;
    background-color: #008080;
    border-radius: 0.5rem;
    box-shadow: 2px 0px 12px rgba(0, 0, 0, 0.1);
}


.container h1{
    font-size: 1.5rem;
    margin-left: 1.5rem;
    margin-top: rem;
    color: #d0a421;
}
form{
    display: flex;
    flex-direction: column;
    width: 23rem;
    margin: 2rem auto;
    gap: 0.6rem;
}
.input-control{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
form input{
    padding: 0.6rem;
    border-radius: 10px;
    border: 1px solid #2e2e2e;
    outline: none;
}
form button{
    padding: 0.8rem;
    width: 100%;
    margin: 0.5rem auto;
    border-radius: 10px;
    border: none;
    background-color: #008080;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
}
button.active{
    background: #d0a421;
}
@media only screen and (min-width: 420px){
    .container{
        height: 49rem;
        width: 25rem;
        border-radius: 10px;
        border: 5px solid hsl(0, 0, 18%);
    }
}