@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-5,100..900&family=League+Spartan:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
}
.box-login{
    position: relative;
    top: 0;
    left: 0;
}
.page{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #2e2e2e;
    background-color: bisque;
}
.container{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: #f5f5dc;
}
.container img{
    margin-left: 8rem;
    margin-top: 5rem;
}
.switch{
    position: relative;
    border: 1px solid #008080;
    border-radius: 0.5rem;
    height: 42px;
    width: 22rem;
    display: flex;
    align-items: center;
    margin: 4rem auto;
    cursor: pointer;
    overflow: hidden;
}
.switch a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    width: 50%;
    z-index: 10;
}
.switch #login{
    color: #fff;
}

#btn{
    position: absolute;
    bottom: 0;
    left: -0.3rem;
    width: 11rem;
    height: 42px;
    cursor: pointer;
    background-color: #008080;
    border-radius: 0.5rem;
    box-shadow: 2px 0px 12px rgba(0, 0, 0, 0.1);
}

/*.btn input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0.8rem 0.6rem;
    border: 1px solid #008080;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: right;
    color: #008080;
}
.btn ::placeholder{
    color: #008080;
    padding-right: 2rem;
}
.btn button{
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #008080;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
}*/
form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 23rem;
    margin: -1rem auto;
    gap: 1rem;
    z-index: 1;
}

.input-control{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
form input{
    padding: 0.9rem;
    border-radius: 10px;
    border: 1px solid #2e2e2e;
    outline: none;
}
form button{
    padding: 0.8rem;
    width: 100%;
    margin: auto;
    margin-top: 2.5rem;
    border-radius: 10px;
    border: none;
    background-color: #008080;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
}
.butn {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 500;
    gap: 2rem;
    transition: all 2s ease;
  }
  .butn .forgot {
    color: #1e0bff;
  }
  .butn .sign-up a {
    text-decoration: none;
    color: #1e0bff;
  }
  
@media only screen and (min-width: 420px){
    .container{
        height: 49rem;
        width: 25rem;
        border-radius: 10px;
        border: 5px solid hsl(0, 0, 18%);
    }
}